# Calculation of Bias Variables

In [1]:
# Import relevant libraries
import pandas as pd
from Dbias.bias_classification import classify
import numpy as np

/home/ellie/miniconda3/envs/dbias_env/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
TensorFlow and JAX classes are deprecated and will be removed in Transformers v5. We recommend migrating to PyTorch classes or pinning your version of Transformers.
All model checkpoint layers were used when initializing TFDistilBertForSequenceClassification.

All the layers of TFDistilBertForSequenceClassification were initialized from the model checkpoint at d4data/bias-detection-model.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFDistilBertForSequenceClassification for predictions without further training.
TensorFlow and JAX classes are deprecated and will be removed in Transformers v5. We recommend migrating to PyTorch classes or pinning your version of Transformers.
Device set to use 0

In [2]:
# import datasets
df0_cleaned = pd.read_parquet('data/sentiment_data_0.parquet', engine="pyarrow")

# check first few rows
df0_cleaned.head(2)

,ID,publishedAt,instances,source-name,location_code,location,category,year,month,new_title,neg,neu,pos,compound,sentiment_category
0,12436,2020-08-06T09:21:27Z,"[{'category': 'general', 'collectedAt': '2020-...",Albidda.net,ae,United Arab Emirates,general,2020,8,A doctor warns of new symptoms of “Corona” tha...,0.149,0.851,0.000,-0.2023,negative
1,12541,2020-08-06T15:45:39Z,"[{'category': 'general', 'collectedAt': '2020-...",Middle East Online,ae,United Arab Emirates,general,2020,8,Foldable phones lead Samsung to climb the top ...,0.000,0.893,0.107,0.2023,positive

In [2]:
# add bias category and probability to each dataframe based on the 'new_title' column

def add_bias_cols(df):
    df_copy = df.copy()

    # Extract text column as clean strings
    texts = df_copy["new_title"].fillna("").astype(str).tolist()

    # Batch inference
    outputs = classify(texts)

    # Convert model output (list of dicts) to dataframe
    bias_df = pd.DataFrame(outputs)

    # Merge back
    return pd.concat([df_copy.reset_index(drop=True), bias_df], axis=1)

In [8]:
# test on subset
subset = df0_cleaned.head(20)
subset_w_bias = add_bias_cols(subset)
subset_w_bias.head(2)

,ID,publishedAt,instances,source-name,location_code,location,category,year,month,new_title,neg,neu,pos,compound,sentiment_category,label,score
0,12436,2020-08-06T09:21:27Z,"[{'category': 'general', 'collectedAt': '2020-...",Albidda.net,ae,United Arab Emirates,general,2020,8,A doctor warns of new symptoms of “Corona” tha...,0.149,0.851,0.000,-0.2023,negative,Non-biased,0.781007
1,12541,2020-08-06T15:45:39Z,"[{'category': 'general', 'collectedAt': '2020-...",Middle East Online,ae,United Arab Emirates,general,2020,8,Foldable phones lead Samsung to climb the top ...,0.000,0.893,0.107,0.2023,positive,Biased,0.581067

In [3]:
# turn score into signed score 
def add_sign(row):
    if row.label == "Biased":
        return row.score  # positive
    elif row.label == "Non-biased":
        return -row.score # negative
    else:
        return np.nan

In [9]:
# test on subset
subset_w_bias["bias_score"] = subset_w_bias.apply(add_sign, axis=1)
subset_w_bias.head(2)

,ID,publishedAt,instances,source-name,location_code,location,category,year,month,new_title,neg,neu,pos,compound,sentiment_category,label,score,bias_score
0,12436,2020-08-06T09:21:27Z,"[{'category': 'general', 'collectedAt': '2020-...",Albidda.net,ae,United Arab Emirates,general,2020,8,A doctor warns of new symptoms of “Corona” tha...,0.149,0.851,0.000,-0.2023,negative,Non-biased,0.781007,-0.781007
1,12541,2020-08-06T15:45:39Z,"[{'category': 'general', 'collectedAt': '2020-...",Middle East Online,ae,United Arab Emirates,general,2020,8,Foldable phones lead Samsung to climb the top ...,0.000,0.893,0.107,0.2023,positive,Biased,0.581067,0.581067

In [10]:
# rename cols and drop 
subset_w_bias = subset_w_bias.rename(columns={"label":"bias_category"})
subset_w_bias = subset_w_bias.drop(columns=["score", "instances"])
subset_w_bias.head(2)

,ID,publishedAt,source-name,location_code,location,category,year,month,new_title,neg,neu,pos,compound,sentiment_category,bias_category,bias_score
0,12436,2020-08-06T09:21:27Z,Albidda.net,ae,United Arab Emirates,general,2020,8,A doctor warns of new symptoms of “Corona” tha...,0.149,0.851,0.000,-0.2023,negative,Non-biased,-0.781007
1,12541,2020-08-06T15:45:39Z,Middle East Online,ae,United Arab Emirates,general,2020,8,Foldable phones lead Samsung to climb the top ...,0.000,0.893,0.107,0.2023,positive,Biased,0.581067

In [4]:
# function to put it all together 

def add_and_clean_bias(df):

    # add bias cols to df 
    new_df = add_bias_cols(df)
    print("Bias columns added!")

    # convert to signed score
    new_df["bias_score"] = new_df.apply(add_sign, axis=1)

    # rename and drop
    new_df = new_df.rename(columns={"label":"bias_category"})
    new_df = new_df.drop(columns=["score","instances"])
    print("Cleaning finished!")

    # return
    return new_df

In [ ]:
# get specific countries as separate dataframes 
# run bias on each country or chunks of country

# ar	Argentina	        159139
# in	India	            145536
# us	United States	    144800
# ca	Canada	            143928
# it	Italy	            129005
# ru	Russian Federation	113395
# cn	China	            91561

In [5]:
# get specific countries as separate files

import pyarrow.dataset as ds
import glob

paths = glob.glob("data/sentiment_data_*.parquet")
dataset = ds.dataset(paths, format="parquet")

def get_country_data(location_code, country_name):
    
    # get filtered dataframe 
    filtered = dataset.to_table(
        filter=ds.field("location_code") == location_code
    )
    df = filtered.to_pandas()

    # save to parquet file 
    filename = f"data/{country_name}_data.parquet"
    df.to_parquet(filename, index=False)

    return df

In [ ]:
# test = subsetting china 
df_china = get_country_data("cn", "china")
df_china.head(2)

,ID,publishedAt,instances,source-name,location_code,location,category,year,month,new_title,neg,neu,pos,compound,sentiment_category
0,246,2020-08-07T07:33:39Z,"[{'category': 'general', 'collectedAt': '2020-...",Sina.com.cn,cn,China,general,2020,8,Xiaopao’s smart hero Hongfunu’s 12+5 plan capt...,0.000,0.695,0.305,0.7644,positive
1,384,2020-08-07T08:48:00Z,"[{'category': 'general', 'collectedAt': '2020-...",Sohu.com,cn,China,general,2020,8,Early surrender? Blues 6 will miss the Champio...,0.287,0.588,0.125,-0.5267,negative

In [6]:
import pyarrow.parquet as pq

def process_parquet_in_chunks(path, batch_size=5000):

    parquet_file = pq.ParquetFile(path)
    result_chunks = []
    count = 0

    for batch in parquet_file.iter_batches(batch_size=batch_size):
        count += 1
        print(f"Running batch {count}:")
        df = batch.to_pandas()
        processed_chunk = add_and_clean_bias(df)
        result_chunks.append(processed_chunk)
        print(f"Finished batch {count}!")

    final_df = pd.concat(result_chunks, ignore_index=True)
    return final_df

In [18]:
# add bias cols to df 
china_bias = process_parquet_in_chunks("data/china_data.parquet", batch_size=10000)

# check first rows
china_bias.head(2)

Running batch 1:
Bias columns added!
Cleaning finished!
Finished batch 1!
Running batch 2:
Bias columns added!
Cleaning finished!
Finished batch 2!
Running batch 3:
Bias columns added!
Cleaning finished!
Finished batch 3!
Running batch 4:
Bias columns added!
Cleaning finished!
Finished batch 4!
Running batch 5:
Bias columns added!
Cleaning finished!
Finished batch 5!
Running batch 6:
Bias columns added!
Cleaning finished!
Finished batch 6!
Running batch 7:
Bias columns added!
Cleaning finished!
Finished batch 7!
Running batch 8:
Bias columns added!
Cleaning finished!
Finished batch 8!
Running batch 9:
Bias columns added!
Cleaning finished!
Finished batch 9!
Running batch 10:
Bias columns added!
Cleaning finished!
Finished batch 10!

,ID,publishedAt,source-name,location_code,location,category,year,month,new_title,neg,neu,pos,compound,sentiment_category,bias_category,bias_score
0,246,2020-08-07T07:33:39Z,Sina.com.cn,cn,China,general,2020,8,Xiaopao’s smart hero Hongfunu’s 12+5 plan capt...,0.000,0.695,0.305,0.7644,positive,Biased,0.943532
1,384,2020-08-07T08:48:00Z,Sohu.com,cn,China,general,2020,8,Early surrender? Blues 6 will miss the Champio...,0.287,0.588,0.125,-0.5267,negative,Biased,0.551895

In [19]:
# Save bias cols to new file
china_bias.to_parquet("data/china_data_final.parquet", index=False)

In [7]:
# function 

def process_country(location_code, country_name):

    # get subset of country
    subset_df = get_country_data(location_code, country_name)
    print(f"{country_name} data subsetted!")

    # add bias cols to df 
    subset_filename = f"data/{country_name}_data.parquet"
    df_bias = process_parquet_in_chunks(subset_filename, batch_size=10000)
    display(df_bias.head(2))

    # save to parquet file 
    filename = f"data/{country_name}_data_final.parquet"
    df_bias.to_parquet(filename, index=False)
    print(f"{country_name} data with bias saved!")

In [23]:
# united states 

process_country("us", "us")

us data subsetted!
Running batch 1:
Bias columns added!
Cleaning finished!
Finished batch 1!
Running batch 2:
Bias columns added!
Cleaning finished!
Finished batch 2!
Running batch 3:
Bias columns added!
Cleaning finished!
Finished batch 3!
Running batch 4:
Bias columns added!
Cleaning finished!
Finished batch 4!
Running batch 5:
Bias columns added!
Cleaning finished!
Finished batch 5!
Running batch 6:
Bias columns added!
Cleaning finished!
Finished batch 6!
Running batch 7:
Bias columns added!
Cleaning finished!
Finished batch 7!
Running batch 8:
Bias columns added!
Cleaning finished!
Finished batch 8!
Running batch 9:
Bias columns added!
Cleaning finished!
Finished batch 9!
Running batch 10:
Bias columns added!
Cleaning finished!
Finished batch 10!

,ID,publishedAt,source-name,location_code,location,category,year,month,new_title,neg,neu,pos,compound,sentiment_category,bias_category,bias_score
0,816,2020-08-07T11:15:00Z,Minneapolis Star Tribune,us,United States,general,2020,8,"Marlene Stollings, former Gophers women's bask...",0.315,0.685,0.0,-0.8316,negative,Non-biased,-0.679731
1,901,2020-08-07T11:34:08Z,Google News,us,United States,general,2020,8,How worried are American companies operating i...,0.309,0.691,0.0,-0.7003,negative,Biased,0.599910

us data with bias saved!

In [8]:
# argentina 

process_country("ar", "argentina")

TensorFlow and JAX classes are deprecated and will be removed in Transformers v5. We recommend migrating to PyTorch classes or pinning your version of Transformers.

argentina data subsetted!
Running batch 1:
Bias columns added!
Cleaning finished!
Finished batch 1!
Running batch 2:
Bias columns added!
Cleaning finished!
Finished batch 2!
Running batch 3:
Bias columns added!
Cleaning finished!
Finished batch 3!
Running batch 4:
Bias columns added!
Cleaning finished!
Finished batch 4!
Running batch 5:
Bias columns added!
Cleaning finished!
Finished batch 5!
Running batch 6:
Bias columns added!
Cleaning finished!
Finished batch 6!
Running batch 7:
Bias columns added!
Cleaning finished!
Finished batch 7!
Running batch 8:
Bias columns added!
Cleaning finished!
Finished batch 8!
Running batch 9:
Bias columns added!
Cleaning finished!
Finished batch 9!
Running batch 10:
Bias columns added!
Cleaning finished!
Finished batch 10!
Running batch 11:
Bias columns added!
Cleaning finished!
Finished batch 11!
Running batch 12:
Bias columns added!
Cleaning finished!
Finished batch 12!

,ID,publishedAt,source-name,location_code,location,category,year,month,new_title,neg,neu,pos,compound,sentiment_category,bias_category,bias_score
0,78,2020-08-07T03:19:19Z,RPP,ar,Argentina,general,2020,8,"Donald Trump will also ban Tencent in the US, ...",0.153,0.847,0.0,-0.5574,negative,Biased,0.992362
1,80,2020-08-07T03:29:00Z,La Nacion,ar,Argentina,general,2020,8,Five close encounters with science fiction cla...,0.000,1.000,0.0,0.0000,neutral,Biased,0.988296

argentina data with bias saved!

In [8]:
# india

process_country("in", "india")

TensorFlow and JAX classes are deprecated and will be removed in Transformers v5. We recommend migrating to PyTorch classes or pinning your version of Transformers.

india data subsetted!
Running batch 1:
Bias columns added!
Cleaning finished!
Finished batch 1!
Running batch 2:
Bias columns added!
Cleaning finished!
Finished batch 2!
Running batch 3:
Bias columns added!
Cleaning finished!
Finished batch 3!
Running batch 4:
Bias columns added!
Cleaning finished!
Finished batch 4!
Running batch 5:
Bias columns added!
Cleaning finished!
Finished batch 5!
Running batch 6:
Bias columns added!
Cleaning finished!
Finished batch 6!
Running batch 7:
Bias columns added!
Cleaning finished!
Finished batch 7!
Running batch 8:
Bias columns added!
Cleaning finished!
Finished batch 8!
Running batch 9:
Bias columns added!
Cleaning finished!
Finished batch 9!
Running batch 10:
Bias columns added!
Cleaning finished!
Finished batch 10!
Running batch 11:
Bias columns added!
Cleaning finished!
Finished batch 11!
Running batch 12:
Bias columns added!
Cleaning finished!
Finished batch 12!
Running batch 13:
Bias columns added!
Cleaning finished!
Finished batch 13!

,ID,publishedAt,source-name,location_code,location,category,year,month,new_title,neg,neu,pos,compound,sentiment_category,bias_category,bias_score
0,486,2020-08-07T09:30:10Z,The Indian Express,in,India,general,2020,8,Miheeka Bajaj recycled her mom’s lehenga for p...,0.000,0.829,0.171,0.4767,positive,Non-biased,-0.88684
1,648,2020-08-07T10:35:00Z,Hindustan Times,in,India,general,2020,8,Italy has assured to prosecute marines for kil...,0.345,0.534,0.121,-0.6808,negative,Biased,0.99311

india data with bias saved!

In [8]:
# canada 

process_country("ca", "canada")

TensorFlow and JAX classes are deprecated and will be removed in Transformers v5. We recommend migrating to PyTorch classes or pinning your version of Transformers.

canada data subsetted!
Running batch 1:
Bias columns added!
Cleaning finished!
Finished batch 1!
Running batch 2:
Bias columns added!
Cleaning finished!
Finished batch 2!
Running batch 3:
Bias columns added!
Cleaning finished!
Finished batch 3!
Running batch 4:
Bias columns added!
Cleaning finished!
Finished batch 4!
Running batch 5:
Bias columns added!
Cleaning finished!
Finished batch 5!
Running batch 6:
Bias columns added!
Cleaning finished!
Finished batch 6!
Running batch 7:
Bias columns added!
Cleaning finished!
Finished batch 7!
Running batch 8:
Bias columns added!
Cleaning finished!
Finished batch 8!
Running batch 9:
Bias columns added!
Cleaning finished!
Finished batch 9!
Running batch 10:
Bias columns added!
Cleaning finished!
Finished batch 10!
Running batch 11:
Bias columns added!
Cleaning finished!
Finished batch 11!
Running batch 12:
Bias columns added!
Cleaning finished!
Finished batch 12!
Running batch 13:
Bias columns added!
Cleaning finished!
Finished batch 13!

,ID,publishedAt,source-name,location_code,location,category,year,month,new_title,neg,neu,pos,compound,sentiment_category,bias_category,bias_score
0,44,2020-08-07T01:30:00Z,Variety,ca,Canada,general,2020,8,Tony Award-Winning Actor Brent Carver Dies at ...,0.0,1.0,0.0,0.0,neutral,Non-biased,-0.758848
1,107,2020-08-07T04:53:33Z,Global Village space,ca,Canada,general,2020,8,WHO says ‘vaccine nationalism’ cannot beat vir...,0.0,1.0,0.0,0.0,neutral,Biased,0.817936

canada data with bias saved!

In [8]:
# italy 

process_country("it", "italy")

TensorFlow and JAX classes are deprecated and will be removed in Transformers v5. We recommend migrating to PyTorch classes or pinning your version of Transformers.

italy data subsetted!
Running batch 1:
Bias columns added!
Cleaning finished!
Finished batch 1!
Running batch 2:
Bias columns added!
Cleaning finished!
Finished batch 2!
Running batch 3:
Bias columns added!
Cleaning finished!
Finished batch 3!
Running batch 4:
Bias columns added!
Cleaning finished!
Finished batch 4!
Running batch 5:
Bias columns added!
Cleaning finished!
Finished batch 5!
Running batch 6:
Bias columns added!
Cleaning finished!
Finished batch 6!
Running batch 7:
Bias columns added!
Cleaning finished!
Finished batch 7!
Running batch 8:
Bias columns added!
Cleaning finished!
Finished batch 8!
Running batch 9:
Bias columns added!
Cleaning finished!
Finished batch 9!
Running batch 10:
Bias columns added!
Cleaning finished!
Finished batch 10!
Running batch 11:
Bias columns added!
Cleaning finished!
Finished batch 11!
Running batch 12:
Bias columns added!
Cleaning finished!
Finished batch 12!
Running batch 13:
Bias columns added!
Cleaning finished!
Finished batch 13!

,ID,publishedAt,source-name,location_code,location,category,year,month,new_title,neg,neu,pos,compound,sentiment_category,bias_category,bias_score
0,916,2020-08-07T11:39:07Z,Lanazione.it,it,Italy,general,2020,8,"Coronavirus Tuscany, thirteen new cases in the...",0.145,0.855,0.0,-0.2960,negative,Biased,0.884023
1,1064,2020-08-07T12:20:00Z,Trend-online.com,it,Italy,general,2020,8,Ftse Mib: bad signal triggered. ENI and Banco ...,0.226,0.774,0.0,-0.5423,negative,Biased,0.664561

italy data with bias saved!

In [8]:
# russia

process_country("ru", "russia")

TensorFlow and JAX classes are deprecated and will be removed in Transformers v5. We recommend migrating to PyTorch classes or pinning your version of Transformers.

russia data subsetted!
Running batch 1:
Bias columns added!
Cleaning finished!
Finished batch 1!
Running batch 2:
Bias columns added!
Cleaning finished!
Finished batch 2!
Running batch 3:
Bias columns added!
Cleaning finished!
Finished batch 3!
Running batch 4:
Bias columns added!
Cleaning finished!
Finished batch 4!
Running batch 5:
Bias columns added!
Cleaning finished!
Finished batch 5!
Running batch 6:
Bias columns added!
Cleaning finished!
Finished batch 6!
Running batch 7:
Bias columns added!
Cleaning finished!
Finished batch 7!
Running batch 8:
Bias columns added!
Cleaning finished!
Finished batch 8!
Running batch 9:
Bias columns added!
Cleaning finished!
Finished batch 9!
Running batch 10:
Bias columns added!
Cleaning finished!
Finished batch 10!
Running batch 11:
Bias columns added!
Cleaning finished!
Finished batch 11!
Running batch 12:
Bias columns added!
Cleaning finished!
Finished batch 12!

,ID,publishedAt,source-name,location_code,location,category,year,month,new_title,neg,neu,pos,compound,sentiment_category,bias_category,bias_score
0,802,2020-08-07T11:09:00Z,Lenta,ru,Russian Federation,general,2020,8,Kirkorov explained his daughter's departure fr...,0.0,1.0,0.0,0.0,neutral,Biased,0.579975
1,809,2020-08-07T11:12:24Z,Motor.ru,ru,Russian Federation,general,2020,8,The new Renault Duster for Russia was photogra...,0.0,1.0,0.0,0.0,neutral,Non-biased,-0.551044

russia data with bias saved!