# Data Cleaning

In [9]:
import pandas as pd

df0 = pd.read_parquet("data/original_data_0.parquet")
df1 = pd.read_parquet("data/original_data_1.parquet")
df2 = pd.read_parquet("data/original_data_2.parquet")
df3 = pd.read_parquet("data/original_data_3.parquet")
df4 = pd.read_parquet("data/original_data_4.parquet")
df5 = pd.read_parquet("data/original_data_5.parquet")
df6 = pd.read_parquet("data/original_data_6.parquet")

In [10]:
df0.head()

,ID,publishedAt,instances,source-name,en-title,title
0,12436,2020-08-06T09:21:27Z,"[{'category': 'general', 'collectedAt': '2020-...",Albidda.net,A doctor warns of new symptoms of “Corona” tha...,"طبيبة تحذر من أعراض جديدة لـ""كورونا"" ينبغي الا..."
1,12541,2020-08-06T15:45:39Z,"[{'category': 'general', 'collectedAt': '2020-...",Middle East Online,Foldable phones lead Samsung to climb the top ...,الهواتف القابلة للطي حبلا لتسلق سامسونغ قمة ال...
2,12568,2020-08-06T16:43:05Z,"[{'category': 'general', 'collectedAt': '2020-...",Alanba.com.kw,Explosive stars create calcium in - Kuwait New...,النجوم المتفجرة كونت الكالسيوم في - جريدة الأن...
3,12795,2020-08-07T07:08:19Z,"[{'category': 'general', 'collectedAt': '2020-...",Al-ain.com,Twitter secures the accounts of governments an...,تويتر يؤمن حسابات الحكومات والمشاهير بميزة جدي...
4,13129,2020-08-07T13:33:00Z,"[{'category': 'general', 'collectedAt': '2020-...",محليات,Corona patients without symptoms carry a viral...,"مرضى "" كورونا"" من دون أعراض يحملون شحنة فيروسي..."

In [11]:
df0["instances"].dtype

dtype('O')

In [12]:
type(df0["instances"].iloc[0])

numpy.ndarray

In [13]:
# view the first instance in the first dataframe
df0["instances"].iloc[0]

array([{'category': 'general', 'collectedAt': '2020-08-08T10:03:00Z', 'location': 'ae'}],
      dtype=object)

### Extract Location from "Instances" Column

In [14]:
def extract_location(row):
    return row[0].get("location")

df0["location_code"] = df0["instances"].apply(extract_location)
df1["location_code"] = df1["instances"].apply(extract_location)
df2["location_code"] = df2["instances"].apply(extract_location)
df3["location_code"] = df3["instances"].apply(extract_location)
df4["location_code"] = df4["instances"].apply(extract_location)
df5["location_code"] = df5["instances"].apply(extract_location)
df6["location_code"] = df6["instances"].apply(extract_location)
df0.head()

,ID,publishedAt,instances,source-name,en-title,title,location_code
0,12436,2020-08-06T09:21:27Z,"[{'category': 'general', 'collectedAt': '2020-...",Albidda.net,A doctor warns of new symptoms of “Corona” tha...,"طبيبة تحذر من أعراض جديدة لـ""كورونا"" ينبغي الا...",ae
1,12541,2020-08-06T15:45:39Z,"[{'category': 'general', 'collectedAt': '2020-...",Middle East Online,Foldable phones lead Samsung to climb the top ...,الهواتف القابلة للطي حبلا لتسلق سامسونغ قمة ال...,ae
2,12568,2020-08-06T16:43:05Z,"[{'category': 'general', 'collectedAt': '2020-...",Alanba.com.kw,Explosive stars create calcium in - Kuwait New...,النجوم المتفجرة كونت الكالسيوم في - جريدة الأن...,ae
3,12795,2020-08-07T07:08:19Z,"[{'category': 'general', 'collectedAt': '2020-...",Al-ain.com,Twitter secures the accounts of governments an...,تويتر يؤمن حسابات الحكومات والمشاهير بميزة جدي...,ae
4,13129,2020-08-07T13:33:00Z,"[{'category': 'general', 'collectedAt': '2020-...",محليات,Corona patients without symptoms carry a viral...,"مرضى "" كورونا"" من دون أعراض يحملون شحنة فيروسي...",ae

### Map to Country

In [15]:
location_map = {
    "ae": "United Arab Emirates",
    "ar": "Argentina",
    "ph": "Philippines",
    "ng": "Nigeria",
    "in": "India",
    "us": "United States",
    "ca": "Canada",
    "sa": "Saudi Arabia",
    "cu": "Cuba",
    "au": "Australia",
    "br": "Brazil",
    "ma": "Morocco",
    "id": "Indonesia",
    "eg": "Egypt",
    "it": "Italy",
    "gb": "United Kingdom",
    "ie": "Ireland",
    "mx": "Mexico",
    "tr": "Turkey",
    "gr": "Greece",
    "de": "Germany",
    "jp": "Japan",
    "za": "South Africa",
    "fr": "France",
    "pl": "Poland",
    "pt": "Portugal",
    "co": "Colombia",
    "my": "Malaysia",
    "ru": "Russian Federation",
    "at": "Austria",
    "nz": "New Zealand",
    "tw": "Taiwan",
    "nl": "Netherlands",
    "sg": "Singapore",
    "be": "Belgium",
    "cn": "China",
    "ve": "Venezuela",
    "th": "Thailand",
    "se": "Sweden",
    "kr": "Korea",
    "hk": "Hong Kong",
    "rs": "Serbia",
    "hu": "Hungary",
    "cz": "Czechia",
    "ch": "Switzerland",
    "il": "Israel",
    "bg": "Bulgaria",
    "ua": "Ukraine",
    "ro": "Romania",
    "no": "Norway",
    "sk": "Slovakia",
    "lv": "Latvia",
    "lt": "Lithuania",
    "si": "Slovenia"
}

In [16]:
df0["location"] = df0["location_code"].map(location_map)
df1["location"] = df1["location_code"].map(location_map)
df2["location"] = df2["location_code"].map(location_map)
df3["location"] = df3["location_code"].map(location_map)
df4["location"] = df4["location_code"].map(location_map)
df5["location"] = df5["location_code"].map(location_map)
df6["location"] = df6["location_code"].map(location_map)

df0.head()

,ID,publishedAt,instances,source-name,en-title,title,location_code,location
0,12436,2020-08-06T09:21:27Z,"[{'category': 'general', 'collectedAt': '2020-...",Albidda.net,A doctor warns of new symptoms of “Corona” tha...,"طبيبة تحذر من أعراض جديدة لـ""كورونا"" ينبغي الا...",ae,United Arab Emirates
1,12541,2020-08-06T15:45:39Z,"[{'category': 'general', 'collectedAt': '2020-...",Middle East Online,Foldable phones lead Samsung to climb the top ...,الهواتف القابلة للطي حبلا لتسلق سامسونغ قمة ال...,ae,United Arab Emirates
2,12568,2020-08-06T16:43:05Z,"[{'category': 'general', 'collectedAt': '2020-...",Alanba.com.kw,Explosive stars create calcium in - Kuwait New...,النجوم المتفجرة كونت الكالسيوم في - جريدة الأن...,ae,United Arab Emirates
3,12795,2020-08-07T07:08:19Z,"[{'category': 'general', 'collectedAt': '2020-...",Al-ain.com,Twitter secures the accounts of governments an...,تويتر يؤمن حسابات الحكومات والمشاهير بميزة جدي...,ae,United Arab Emirates
4,13129,2020-08-07T13:33:00Z,"[{'category': 'general', 'collectedAt': '2020-...",محليات,Corona patients without symptoms carry a viral...,"مرضى "" كورونا"" من دون أعراض يحملون شحنة فيروسي...",ae,United Arab Emirates

### Extract Article Category

In [17]:
# extract Article Category
def extract_category(row):
    return row[0].get("category")


df0["category"] = df0["instances"].apply(extract_category)
df1["category"] = df1["instances"].apply(extract_category)
df2["category"] = df2["instances"].apply(extract_category)
df3["category"] = df3["instances"].apply(extract_category)
df4["category"] = df4["instances"].apply(extract_category)
df5["category"] = df5["instances"].apply(extract_category)
df6["category"] = df6["instances"].apply(extract_category)
df0.head()

,ID,publishedAt,instances,source-name,en-title,title,location_code,location,category
0,12436,2020-08-06T09:21:27Z,"[{'category': 'general', 'collectedAt': '2020-...",Albidda.net,A doctor warns of new symptoms of “Corona” tha...,"طبيبة تحذر من أعراض جديدة لـ""كورونا"" ينبغي الا...",ae,United Arab Emirates,general
1,12541,2020-08-06T15:45:39Z,"[{'category': 'general', 'collectedAt': '2020-...",Middle East Online,Foldable phones lead Samsung to climb the top ...,الهواتف القابلة للطي حبلا لتسلق سامسونغ قمة ال...,ae,United Arab Emirates,general
2,12568,2020-08-06T16:43:05Z,"[{'category': 'general', 'collectedAt': '2020-...",Alanba.com.kw,Explosive stars create calcium in - Kuwait New...,النجوم المتفجرة كونت الكالسيوم في - جريدة الأن...,ae,United Arab Emirates,general
3,12795,2020-08-07T07:08:19Z,"[{'category': 'general', 'collectedAt': '2020-...",Al-ain.com,Twitter secures the accounts of governments an...,تويتر يؤمن حسابات الحكومات والمشاهير بميزة جدي...,ae,United Arab Emirates,general
4,13129,2020-08-07T13:33:00Z,"[{'category': 'general', 'collectedAt': '2020-...",محليات,Corona patients without symptoms carry a viral...,"مرضى "" كورونا"" من دون أعراض يحملون شحنة فيروسي...",ae,United Arab Emirates,general

In [18]:
# check unique categories across all dataframes
unique_categories = set()
for df in [df0, df1, df2, df3, df4, df5, df6]:
    unique_categories.update(df["category"].unique())

unique_categories

{'business',
 'entertainment',
 'general',
 'health',
 'science',
 'sports',
 'technology'}

### Extract Year and Month from "Published At" Column

In [19]:
# view the first instance of PublishedAt
df0["publishedAt"].iloc[0]

'2020-08-06T09:21:27Z'

In [29]:
# Extract year and month from publishedAt column

def extract_year_month_efficient(df):
    # Convert to datetime with error handling
    dates = pd.to_datetime(df['publishedAt'], errors='coerce')
    
    # Extract year and month vectorized
    df['year'] = dates.dt.year.astype('Int64')  
    df['month'] = dates.dt.month.astype('Int64')  
    
    return df


for i, df in enumerate([df0, df1, df2, df3, df4, df5, df6]):
    extract_year_month_efficient(df)
    
# Check the results
df0.head()

,ID,publishedAt,instances,source-name,location_code,location,category,year,month,new_title
0,12436,2020-08-06T09:21:27Z,"[{'category': 'general', 'collectedAt': '2020-...",Albidda.net,ae,United Arab Emirates,general,2020,8,A doctor warns of new symptoms of “Corona” tha...
1,12541,2020-08-06T15:45:39Z,"[{'category': 'general', 'collectedAt': '2020-...",Middle East Online,ae,United Arab Emirates,general,2020,8,Foldable phones lead Samsung to climb the top ...
2,12568,2020-08-06T16:43:05Z,"[{'category': 'general', 'collectedAt': '2020-...",Alanba.com.kw,ae,United Arab Emirates,general,2020,8,Explosive stars create calcium in - Kuwait New...
3,12795,2020-08-07T07:08:19Z,"[{'category': 'general', 'collectedAt': '2020-...",Al-ain.com,ae,United Arab Emirates,general,2020,8,Twitter secures the accounts of governments an...
4,13129,2020-08-07T13:33:00Z,"[{'category': 'general', 'collectedAt': '2020-...",محليات,ae,United Arab Emirates,general,2020,8,Corona patients without symptoms carry a viral...

### Clean Title Columns

In [22]:
# condenses titles into one column
def get_title(row):
    if row["en-title"] is None:
        return row["title"]
    else:
        return row["en-title"]

df0["new_title"] = df0.apply(get_title, axis=1)
df1["new_title"] = df1.apply(get_title, axis=1)
df2["new_title"] = df2.apply(get_title, axis=1)
df3["new_title"] = df3.apply(get_title, axis=1)
df4["new_title"] = df4.apply(get_title, axis=1)
df5["new_title"] = df5.apply(get_title, axis=1)
df6["new_title"] = df6.apply(get_title, axis=1)

In [23]:
df6[df6["en-title"].isna()].head()

,ID,publishedAt,instances,source-name,en-title,title,location_code,location,category,year,month,new_title
446,5097847,2021-03-30T03:26:10Z,"[{'category': 'technology', 'collectedAt': '20...",Avtechguide.com,None,Mi Smart Band 6 Archives - AV Tech Guide,th,Thailand,technology,2021,3,Mi Smart Band 6 Archives - AV Tech Guide
709,5118728,2021-06-11T14:02:08Z,"[{'category': 'business', 'collectedAt': '2021...",Thaifrx.com,None,"Inflation (CPI), The Fed & ECB – FinTwit Trend...",th,Thailand,business,2021,6,"Inflation (CPI), The Fed & ECB – FinTwit Trend..."
1191,5163184,2021-06-14T21:14:47Z,"[{'category': 'business', 'collectedAt': '2021...",Thaifrx.com,None,"Buy Now, Pay Later vs. Credit Cards - www.thai...",th,Thailand,business,2021,6,"Buy Now, Pay Later vs. Credit Cards - www.thai..."
1555,5187883,2021-02-23T05:43:47Z,"[{'category': 'technology', 'collectedAt': '20...",Avtechguide.com,None,Downloads for You Archives - AV Tech Guide,th,Thailand,technology,2021,2,Downloads for You Archives - AV Tech Guide
2836,5294158,2021-06-22T04:04:04Z,"[{'category': 'health', 'collectedAt': '2021-0...",Thaifrx.com,None,Mutual Savings Bank (MSB) Definition | Thaifrx...,th,Thailand,health,2021,6,Mutual Savings Bank (MSB) Definition | Thaifrx...

In [24]:
for df in [df0, df1, df2, df3, df4, df5, df6]:
    df.drop('en-title', axis=1, inplace = True)
    df.drop('title', axis=1, inplace = True)

In [25]:
df6.head()

,ID,publishedAt,instances,source-name,location_code,location,category,year,month,new_title
0,5063615,2021-06-09T09:24:52Z,"[{'category': 'health', 'collectedAt': '2021-0...",77kaoded.com,th,Thailand,health,2021,6,"CCSA keeps an eye on Samut Prakan, Nonthaburi,..."
1,5063703,2021-06-09T09:32:09Z,"[{'category': 'health', 'collectedAt': '2021-0...",Google News,th,Thailand,health,2021,6,Thailand has administered more than 5 million ...
2,5063722,2021-06-09T09:34:10Z,"[{'category': 'entertainment', 'collectedAt': ...",Daradaily.com,th,Thailand,entertainment,2021,6,"The final round of ""Lukthung Idol"", the challe..."
3,5063906,2021-06-09T09:51:00Z,"[{'category': 'sports', 'collectedAt': '2021-0...",Khaosod.co.th,th,Thailand,sports,2021,6,"Thai Futsal is out of quarantine, ready to rec..."
4,5063936,2021-06-09T09:54:50Z,"[{'category': 'entertainment', 'collectedAt': ...",Khaosod.co.th,th,Thailand,entertainment,2021,6,"""Lilybet"" and her doubts about whether Prince ..."

### Save to New Parquet Files

In [26]:
# save cleaned dataframes to new parquet files
df0.to_parquet("data/cleaned_data_0.parquet", index=False)
df1.to_parquet("data/cleaned_data_1.parquet", index=False)
df2.to_parquet("data/cleaned_data_2.parquet", index=False)
df3.to_parquet("data/cleaned_data_3.parquet", index=False)
df4.to_parquet("data/cleaned_data_4.parquet", index=False)
df5.to_parquet("data/cleaned_data_5.parquet", index=False)
df6.to_parquet("data/cleaned_data_6.parquet", index=False)