# Data Cleaning

In [ ]:
import pandas as pd

df0 = pd.read_parquet("data/original_data_0.parquet")
df1 = pd.read_parquet("data/original_data_1.parquet")
df2 = pd.read_parquet("data/original_data_2.parquet")
df3 = pd.read_parquet("data/original_data_3.parquet")
df4 = pd.read_parquet("data/original_data_4.parquet")

In [8]:
df0.head()

,ID,publishedAt,instances,source-id,source-name,en-title,language
0,12436,2020-08-06T09:21:27Z,"[{'category': 'general', 'collectedAt': '2020-...",None,Albidda.net,A doctor warns of new symptoms of “Corona” tha...,ar
1,12541,2020-08-06T15:45:39Z,"[{'category': 'general', 'collectedAt': '2020-...",None,Middle East Online,Foldable phones lead Samsung to climb the top ...,ar
2,12568,2020-08-06T16:43:05Z,"[{'category': 'general', 'collectedAt': '2020-...",None,Alanba.com.kw,Explosive stars create calcium in - Kuwait New...,ar
3,12795,2020-08-07T07:08:19Z,"[{'category': 'general', 'collectedAt': '2020-...",None,Al-ain.com,Twitter secures the accounts of governments an...,ar
4,13129,2020-08-07T13:33:00Z,"[{'category': 'general', 'collectedAt': '2020-...",None,محليات,Corona patients without symptoms carry a viral...,ar

In [11]:
df0["instances"].dtype

dtype('O')

In [12]:
type(df0["instances"].iloc[0])

numpy.ndarray

### Extract Location from "Instances" Column

In [18]:
def extract_location(row):
    return row[0].get("location")


df0["location_code"] = df0["instances"].apply(extract_location)
df1["location_code"] = df1["instances"].apply(extract_location)
df2["location_code"] = df2["instances"].apply(extract_location)
df3["location_code"] = df3["instances"].apply(extract_location)
df4["location_code"] = df4["instances"].apply(extract_location)
df0.head()

,ID,publishedAt,instances,source-id,source-name,en-title,language,location_code,location
0,12436,2020-08-06T09:21:27Z,"[{'category': 'general', 'collectedAt': '2020-...",None,Albidda.net,A doctor warns of new symptoms of “Corona” tha...,ar,ae,United Arab Emirates
1,12541,2020-08-06T15:45:39Z,"[{'category': 'general', 'collectedAt': '2020-...",None,Middle East Online,Foldable phones lead Samsung to climb the top ...,ar,ae,United Arab Emirates
2,12568,2020-08-06T16:43:05Z,"[{'category': 'general', 'collectedAt': '2020-...",None,Alanba.com.kw,Explosive stars create calcium in - Kuwait New...,ar,ae,United Arab Emirates
3,12795,2020-08-07T07:08:19Z,"[{'category': 'general', 'collectedAt': '2020-...",None,Al-ain.com,Twitter secures the accounts of governments an...,ar,ae,United Arab Emirates
4,13129,2020-08-07T13:33:00Z,"[{'category': 'general', 'collectedAt': '2020-...",None,محليات,Corona patients without symptoms carry a viral...,ar,ae,United Arab Emirates

### Map to Country

In [16]:
location_map = {
    "ae": "United Arab Emirates",
    "ar": "Argentina",
    "ph": "Philippines",
    "ng": "Nigeria",
    "in": "India",
    "us": "United States",
    "ca": "Canada",
    "sa": "Saudi Arabia",
    "cu": "Cuba",
    "au": "Australia",
    "br": "Brazil",
    "ma": "Morocco",
    "id": "Indonesia",
    "eg": "Egypt",
    "it": "Italy",
    "gb": "United Kingdom",
    "ie": "Ireland",
    "mx": "Mexico",
    "tr": "Turkey",
    "gr": "Greece",
    "de": "Germany",
    "jp": "Japan",
    "za": "South Africa",
    "fr": "France",
    "pl": "Poland",
    "pt": "Portugal",
    "co": "Colombia",
    "my": "Malaysia",
    "ru": "Russian Federation",
    "at": "Austria",
    "nz": "New Zealand",
    "tw": "Taiwan",
    "nl": "Netherlands",
    "sg": "Singapore",
    "be": "Belgium",
    "cn": "China",
    "ve": "Venezuela",
    "th": "Thailand",
    "se": "Sweden",
    "kr": "Korea",
    "hk": "Hong Kong",
    "rs": "Serbia",
    "hu": "Hungary",
    "cz": "Czechia",
    "ch": "Switzerland",
    "il": "Israel",
    "bg": "Bulgaria",
    "ua": "Ukraine",
    "ro": "Romania",
    "no": "Norway",
    "sk": "Slovakia",
    "lv": "Latvia",
    "lt": "Lithuania",
    "si": "Slovenia"
}

In [20]:
df0["location"] = df0["location_code"].map(location_map)
df1["location"] = df1["location_code"].map(location_map)
df2["location"] = df2["location_code"].map(location_map)
df3["location"] = df3["location_code"].map(location_map)
df4["location"] = df4["location_code"].map(location_map)

df0.head()

,ID,publishedAt,instances,source-id,source-name,en-title,language,location_code,location
0,12436,2020-08-06T09:21:27Z,"[{'category': 'general', 'collectedAt': '2020-...",None,Albidda.net,A doctor warns of new symptoms of “Corona” tha...,ar,ae,United Arab Emirates
1,12541,2020-08-06T15:45:39Z,"[{'category': 'general', 'collectedAt': '2020-...",None,Middle East Online,Foldable phones lead Samsung to climb the top ...,ar,ae,United Arab Emirates
2,12568,2020-08-06T16:43:05Z,"[{'category': 'general', 'collectedAt': '2020-...",None,Alanba.com.kw,Explosive stars create calcium in - Kuwait New...,ar,ae,United Arab Emirates
3,12795,2020-08-07T07:08:19Z,"[{'category': 'general', 'collectedAt': '2020-...",None,Al-ain.com,Twitter secures the accounts of governments an...,ar,ae,United Arab Emirates
4,13129,2020-08-07T13:33:00Z,"[{'category': 'general', 'collectedAt': '2020-...",None,محليات,Corona patients without symptoms carry a viral...,ar,ae,United Arab Emirates